.main-container {
  margin-top: 20px;
}

.img-logo {
  width: 120px;
}

/* Animaciones */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@media (min-width: 1200px) {
  .grid-menu.grid-menu-2col [class*="col-"]:nth-last-child(-n + 3) {
    border-bottom-width: 1px;
  }
  .grid-menu.grid-menu-2col [class*="col-"]:nth-child(2n) {
    border-right-width: 1px;
  }
  .grid-menu.grid-menu-2col [class*="col-"]:nth-child(3n) {
    border-right-width: 1px;
  }
}
.img_card {
  width: 32px;
  height: 32px;
}

.inp-icon {
  background: url(https://img.icons8.com/fluent/48/000000/ok.png) no-repeat
    calc(100% - 10px) center;
  background-size: 24px;
  padding-right: 20px;
}

.inp-icon-fail {
  background: url(https://img.icons8.com/flat_round/64/000000/error--v1.png)
    no-repeat calc(100% - 10px) center;
  background-size: 24px;
  padding-right: 20px;
}

#loading-backend {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.5);
  z-index: 2000;
}

#loading-backend div {
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
